<ion-content class="welcome-page">

  <div class="header-section">

    <div class="logo-wrapper">
      <div class="logo-icon">
        <ion-icon name="flash-outline"></ion-icon>
      </div>
    </div>
<br>
    <h1 class="title">Speed</h1>
<br>
    <p class="description">
      Lleva tu progreso siempre contigo. Consulta estadísticas, sincroniza tus logros y recibe alertas personalizadas.
    </p>
<br>
  </div>

  <div class="footer-section">
    <ion-button expand="block" class="btn-login" routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      &nbsp; Iniciar Sesión
    </ion-button>
<br>
    <ion-button expand="block" class="btn-register" routerLink="/register">
      <ion-icon name="person-add-outline"></ion-icon>
      &nbsp; Crear Cuenta
    </ion-button>
  </div>

</ion-content>
