.custom-tab-bar {
  --background: #121212;      // Fondo oscuro elegante
  border-top: 1px solid #1f1f1f;
  padding: 6px 0;
}

ion-tab-button {
  --color: #8e8e8e;           // Color gris para inactivos
  --color-selected: #ffd700;  // Amarillo dorado del estilo que ya usamos
  --ripple-color: transparent;

  font-weight: 500;
  text-transform: capitalize; // Primera letra mayúscula, estilo móvil
}

ion-icon {
  font-size: 20px;
}

ion-tab-button.tab-selected {
  background: #1a1a1a;
  border-radius: 14px;
  margin: 0 6px;
  transition: all 0.2s ease-in-out;
}
