<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Wiki de Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">


  <!-- CARD 2 -->
  <div class="car-card">
    <div class="car-image">
      <img src="https://i.imgur.com/w1Z8S9B.jpeg" />
      <span class="class-badge">A-Class</span>
    </div>

    <h2 class="car-title">Storm Racer</h2>

    <div class="stats-row">
      <div class="stat-box">
        <ion-icon name="flash-outline"></ion-icon>
        <p>Velocidad</p>
        <span>85</span>
      </div>
      <div class="stat-box">
        <ion-icon name="speedometer-outline"></ion-icon>
        <p>Aceleración</p>
        <span>88</span>
      </div>
      <div class="stat-box">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <p>Derrape</p>
        <span>95</span>
      </div>
      <div class="stat-box">
        <ion-icon name="shield-half-outline"></ion-icon>
        <p>Durabilidad</p>
        <span>80</span>
      </div>
    </div>

    <ion-button expand="block" class="details-btn">Ver Detalles</ion-button>
  </div>

  <!-- CARD 3 -->
  <div class="car-card">
    <div class="car-image">
      <img src="https://i.imgur.com/XkP4juX.jpeg" />
      <span class="class-badge">S-Class</span>
    </div>

    <h2 class="car-title">Night Fury</h2>

    <div class="stats-row">
      <div class="stat-box">
        <ion-icon name="flash-outline"></ion-icon>
        <p>Velocidad</p>
        <span>88</span>
      </div>
      <div class="stat-box">
        <ion-icon name="speedometer-outline"></ion-icon>
        <p>Aceleración</p>
        <span>92</span>
      </div>
      <div class="stat-box">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <p>Derrape</p>
        <span>93</span>
      </div>
      <div class="stat-box">
        <ion-icon name="shield-half-outline"></ion-icon>
        <p>Durabilidad</p>
        <span>85</span>
      </div>
    </div>

    <ion-button expand="block" class="details-btn">Ver Detalles</ion-button>
  </div>

</ion-content>
