<app-header title="Premios"></app-header>

<ion-content [fullscreen]="true" style="--background: #0f0f0f;">

  <div class="premios-container">

    <div *ngIf="isLoading" class="ion-padding ion-text-center">
      <ion-spinner color="warning"></ion-spinner>
      <p style="color: #666;">Buscando recompensas...</p>
    </div>

    <div *ngIf="!isLoading" class="animate-fadeIn">

      <div class="section-header">
        <div class="icon-wrapper">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <span class="section-title">Actividad Reciente</span>
      </div>

      <div *ngIf="recentActivity.length === 0" class="empty-state">
        <p>No hay actividad reciente.</p>
      </div>

      <div class="card notify" *ngFor="let activity of recentActivity">
        <div class="icon-box">
          <ion-icon name="trophy" style="color: #f7c208;"></ion-icon>
        </div>
        <div class="text-box">
          <h3>¡Logro Desbloqueado!</h3>
          <p>{{ activity.name }}</p>
          <small>{{ getTimeAgo(activity.unlocked_at) }}</small>
        </div>
      </div>

      <div class="section-header">
        <div class="icon-wrapper">
          <ion-icon name="gift-outline"></ion-icon>
        </div>
        <span class="section-title">Recompensas por Reclamar</span>
      </div>

      <div *ngIf="pendingRewards.length === 0" class="empty-state ion-text-center">
        <ion-icon name="checkmark-done-circle-outline"
          style="font-size: 40px; color: #444; margin-bottom: 10px;"></ion-icon>
        <p>¡Estás al día! Completa más logros para ganar premios.</p>
      </div>
      <div class="card reward" *ngFor="let reward of pendingRewards">
        <div class="reward-info">
          <div>
            <h3>{{ reward.name }}</h3>
            <p style="color: #aaa; font-size: 0.85rem;">{{ reward.description }}</p>
          </div>

          <div class="reward-badge">
            +{{ reward.reward_monedas }} <ion-icon name="cash-outline"></ion-icon>
          </div>
        </div>

        <ion-button expand="block" class="yellow-btn" (click)="claim(reward)">
          Reclamar Ahora
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>