<ion-content class="ion-padding">
  <div class="login-container">
    <div class="header-section">
      <img src="assets/icon/logoBien.webp" alt="Speed Logo" class="app-logo">
      <h1>Inicia sesión</h1>
    </div>

    <form (ngSubmit)="login()">
      <ion-list lines="none">

        <ion-item class="input-item">
          <ion-label position="stacked">Usuario</ion-label>
          <div class="custom-input-wrapper">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="username" name="username" type="text" placeholder="Tu nombre de usuario" required>
            </ion-input>
          </div>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="stacked">Contraseña</ion-label>
          <div class="custom-input-wrapper">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'"
              placeholder="Tu contraseña" required>
            </ion-input>
            <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" class="password-toggle"
              (click)="togglePassword()">
            </ion-icon>
          </div>
        </ion-item>
      </ion-list>

      <ion-button expand="block" type="submit" class="login-button" [disabled]="isLoading">
        {{ isLoading ? 'Iniciando...' : 'Iniciar Sesión' }}
      </ion-button>

      <ion-button fill="clear" color="medium" routerLink="/register">
        ¿No tienes cuenta? Regístrate aquí
      </ion-button>
    </form>
  </div>
</ion-content>