/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-toast.custom-toast {
    --background: #1f1f1f;
    --color: white;
    --border-radius: 12px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    --start-icon-color: inherit;

    font-weight: 500;

    margin-top: 20px;

    &.ion-color-success {
        --start-icon-color: #2fdf75;
        --border-color: #2fdf75;
        --border-width: 0 0 0 4px;
        --border-style: solid;
    }

    &.ion-color-danger {
        --start-icon-color: #ff4961;
        --border-color: #ff4961;
        --border-width: 0 0 0 4px;
        --border-style: solid;
    }

    &.ion-color-warning {
        --start-icon-color: #ffd534;
        --border-color: #ffd534;
        --border-width: 0 0 0 4px;
        --border-style: solid;
    }
}